<h4 class="text-center">Application Form</h4>
<form target="_blank" action = "/job/{{job['id']}}/apply" method="post">
  <div class="mb-2">
    <label>Name</label><br>
    <input type="text" name="name" placeholder="Enter your name">
  </div>

  <div class="mb-2">
    <label>Email</label><br>
    <input type="email" name="email" placeholder="Enter your valid email id">
  </div>

  <div class="mb-2">
    <label>LinkedIn URL</label><br>
    <input type="url" name="linkedin_url" placeholder="Provide a link to your linkedIn account.">
  </div>

  <div class="mb-2">
    <label>Education</label><br>
    <textarea name="education"></textarea>
  </div>

  <div class="mb-2">
    <label>Experience</label><br>
    <textarea name="work_experience"></textarea>
  </div>

  <div class="mb-2">
    <label>Resume URL</label><br>
    <input type="url" name="resume_url">
  </div>
  
  <input type="submit">
  
</form>