<!DOCTYPE html>
<html>
  <head>
    <title>GetHiredGetRich</title>
    {% include 'bootstrap.html' %}
  </head>
  <body>
    {% include 'nav.html' %} 
    {%include 'banner.html' %}
    <div class="container">
      <h1 class="text-center mt-2 mb-4">Get Hired, Get Rich</h1>
      <div class = "row" style = "margin: 16px 0px;">
        <div class = "col-md-6">
        <p class="lead">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu volutpat odio facilisis mauris sit amet. Mattis molestie a iaculis at. Tincidunt ornare massa eget egestas purus viverra accumsan. At urna condimentum mattis pellentesque id. Nulla at volutpat diam ut. Sollicitudin tempor id eu nisl nunc mi ipsum. Convallis aenean et tortor at risus viverra. Nibh praesent tristique magna sit. Gravida neque convallis a cras. Arcu cursus vitae congue mauris rhoncus aenean. Neque gravida in fermentum et. Massa sed elementum tempus egestas sed.Sollicitudin tempor id eu nisl nunc mi ipsum. Convallis aenean et tortor at risus viverra. Nibh praesent tristique magna sit. Gravida neque convallis a cras. Arcu cursus vitae congue mauris rhoncus aenean. Neque gravida in fermentum et. Massa sed elementum tempus egestas sed.
        </p>
        </div>
        <div class = "d-none d-md-block col-md-6">
          <img class="img-fluid" src = "/static/smart-work.jpg" , style= "height: 420px; width: 100%; object-fit: cover; margin-top:10px;">
        </div>
      </div>
      <h2 class="text-center mt-2 mb-4">Recent Job Openings</h2>
      <div>
        <p>
          {% for job in jobs: %}
          {% include 'jobitem.html' %}
          {% endfor %}
        </p>
      </div>
      <div class="text-center">
        <a href = "https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=new" type="button" class="btn btn-secondary btn-lg">Contact Us</a> 
      </div>
    </div>
    {%include 'footer.html' %}
  </body>
</html>