<!DOCTYPE html>
<html>
  <head>
    <title>GetHiredGetRich</title>
    {% include 'bootstrap.html' %}
  </head>
  <body>
    {% include 'nav.html' %} 
    {%include 'banner.html' %}
    <div class="container">
      <h1 class="text-center mt-2 mb-4">Get Hired, Get Rich</h1>
      <div class = "row" style = "margin: 16px 0px;">
        <div class = "col-md-6">
        <p class="lead">
  Welcome to Get Hired, Get Rich - your ultimate destination for unlocking a world of incredible job opportunities and propelling your career to new heights! At Get Hired, Get Rich, we believe that finding the perfect job shouldn't be a daunting task but an empowering experience. Our platform is designed to match your unique skills, interests, and aspirations with an extensive array of exciting job openings across diverse industries. Whether you're an aspiring fresh graduate ready to embark on a thrilling journey or an accomplished professional seeking the next challenge, we've got you covered. Our team of dedicated career experts is committed to providing personalized guidance and support at every step of your job search, ensuring that you put your best foot forward during interviews and negotiations. Start your journey to success with Get Hired, Get Rich today and take the first leap towards a fulfilling and rewarding career!
</p>

        </div>
        <div class = "d-none d-md-block col-md-6">
          <img class="img-fluid" src = "/static/smart-work.jpg" , style= "height: 420px; width: 100%; object-fit: cover; margin-top:10px;">
        </div>
      </div>
      <h2 class="text-center mt-2 mb-4">Recent Job Openings</h2>
      <div>
        <p>
          {% for job in jobs: %}
          {% include 'jobitem.html' %}
          {% endfor %}
        </p>
      </div>
      <div class="text-center">
        <a href = "https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=new" type="button" class="btn btn-secondary btn-lg">Contact Us</a> 
      </div>
    </div>
    {%include 'footer.html' %}
  </body>
</html>